.navbar{
    text-align: center;
    margin: 10px;

}
.main-head{
    margin: 10px;
    padding: 5px;
    border: 3px solid purple;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.items-head{
    display: grid;
    grid-template-columns: repeat(4,375px);
    gap: 5px;
    padding-top: 20px;
}
.items{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid brown;
    border-style:ridge;
    box-shadow: 5px;
}
.card-head{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: purple;
    padding: 15px;
}
.card-items{
    display: flex;
    gap:10px;
}
.card-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid purple;
}
.card-details{
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-around;
    padding-left: 10px;
}
.card-submit{
    border-radius: 25px;
    background-color: purple;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.game-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.game-name{
    font-weight: bolder;
    color: brown;
}
.seats{
    font-weight: bold;
}
.form-card{
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    border: 3px solid purple;
    margin: 10px;
}
.form-card-item-list{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}
.form-card-items{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 15px;
    padding: 10px;
}